In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [2]:
df = pd.read_csv('play_tennis.csv')

In [3]:
df.shape

(14, 6)

In [30]:
df

##objective: to decide if we can play tennis or not

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [32]:
## data prep and cleaning

In [36]:
df_new = df.copy()

In [38]:
# categorical encoding

In [40]:
from sklearn.preprocessing import LabelEncoder

In [42]:
## initiate a label encoder object
outlook_le = LabelEncoder()

In [44]:
outlook_le.fit_transform(df_new['outlook'])

array([2, 2, 0, 1, 1, 1, 0, 2, 2, 1, 2, 0, 0, 1])

In [46]:
df_new['outlook']   = outlook_le.fit_transform(df_new['outlook'])

In [48]:
df_new

    outlook  temp humidity    wind play
0         2   Hot     High    Weak   No
1         2   Hot     High  Strong   No
2         0   Hot     High    Weak  Yes
3         1  Mild     High    Weak  Yes
4         1  Cool   Normal    Weak  Yes
5         1  Cool   Normal  Strong   No
6         0  Cool   Normal  Strong  Yes
7         2  Mild     High    Weak   No
8         2  Cool   Normal    Weak  Yes
9         1  Mild   Normal    Weak  Yes
10        2  Mild   Normal  Strong  Yes
11        0  Mild     High  Strong  Yes
12        0   Hot   Normal    Weak  Yes
13        1  Mild     High  Strong   No

In [50]:
temp_le = LabelEncoder()
humidity_le = LabelEncoder()
wind_le = LabelEncoder()
play_le = LabelEncoder()

In [52]:
df_new['temp']=temp_le.fit_transform(df_new['temp'])
df_new['humidity']=humidity_le.fit_transform(df_new['humidity'])
df_new['wind']=wind_le.fit_transform(df_new['wind'])
df_new['play']=play_le.fit_transform(df_new['play'])

In [54]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [56]:
df_new

    outlook  temp  humidity  wind  play
0         2     1         0     1     0
1         2     1         0     0     0
2         0     1         0     1     1
3         1     2         0     1     1
4         1     0         1     1     1
5         1     0         1     0     0
6         0     0         1     0     1
7         2     2         0     1     0
8         2     0         1     1     1
9         1     2         1     1     1
10        2     2         1     0     1
11        0     2         0     0     1
12        0     1         1     1     1
13        1     2         0     0     0

In [58]:
## split our data into X and y

In [60]:
X = df_new.drop('play', axis =1)

In [62]:
X

    outlook  temp  humidity  wind
0         2     1         0     1
1         2     1         0     0
2         0     1         0     1
3         1     2         0     1
4         1     0         1     1
5         1     0         1     0
6         0     0         1     0
7         2     2         0     1
8         2     0         1     1
9         1     2         1     1
10        2     2         1     0
11        0     2         0     0
12        0     1         1     1
13        1     2         0     0

In [64]:
y = df_new['play']
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: play, dtype: int64

In [66]:
from sklearn.model_selection import train_test_split

In [68]:
# split out data into training and testing set

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.20)

In [70]:
Xtrain.shape

(11, 4)

In [72]:
Xtest.shape

(3, 4)

In [74]:
from sklearn.linear_model import LinearRegression  ### last session

In [76]:
from sklearn.linear_model import LogisticRegression

In [78]:
## build the model classification-> logistic regression

#initiate the object
log_model = LogisticRegression()

In [36]:
Xtrain

    outlook  temp  humidity  wind
10        2     2         1     0
4         1     0         1     1
9         1     2         1     1
11        0     2         0     0
6         0     0         1     0
8         2     0         1     1
7         2     2         0     1
2         0     1         0     1
1         2     1         0     0
5         1     0         1     0
12        0     1         1     1

In [37]:
ytrain

10    1
4     1
9     1
11    1
6     1
8     1
7     0
2     1
1     0
5     0
12    1
Name: play, dtype: int32

In [80]:
## train the model using train data

log_model.fit(Xtrain, ytrain)

LogisticRegression()

In [82]:
ytrain_pred=log_model.predict(Xtrain)

In [84]:

from sklearn.metrics import r2_score ## last session for regression 
from sklearn.metrics import accuracy_score ## for classification

In [86]:

## checking accuracy of the model for training set
accuracy_score(ytrain, ytrain_pred)

## training score: 81%

0.9090909090909091

In [88]:
Xtest

    outlook  temp  humidity  wind
11        0     2         0     0
5         1     0         1     0
4         1     0         1     1

In [90]:
ytest

11    1
5     0
4     1
Name: play, dtype: int64

In [92]:
### checking accuracy for testing set

ytest_pred=log_model.predict(Xtest)

In [96]:
accuracy_score(ytest, ytest_pred)

0.6666666666666666